.no-connection-text {
    background-color: rgba(206, 17, 38, 0.2);
    color: rgb(252, 207, 207);
    padding: 1rem 1rem 1.5rem;
    font-weight: bold;
    color: rgb(232, 59, 70);
    font-size: 1.2em;
    margin-bottom: 1rem;
    font-family: sans-serif;
}