<div fxLayout="column" style="min-height: 100vh">
  <sparkle-ui-navbar
    [appTitle]="'Sparkle.Web'"
    [logoPath]="logoPath"
    fxFlex="55px"
  ></sparkle-ui-navbar>
  <div
    class="drawer-container"
    fxLayout="column"
    fxFlexAlign="start center"
    *ngIf="this.drawer.opened"
  >
    <sparkle-ui-no-connection-modal
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      (recconnectClicked)="onRecconnectClick()"
    ></sparkle-ui-no-connection-modal>
  </div>
  <mat-drawer-container fxLayout="column" fxFlex="100" [hasBackdrop]="true">
    <mat-drawer
      #drawer
      mode="over"
      fxLayoutAlign="start start"
      disableClose
    ></mat-drawer>
    <mat-drawer-content fxLayout="column" fxFlex="100" fxLayoutGap="5%">
      <sparkle-ui-regressor-form
        [company]="company"
        (chartTypeEvent)="onChartTypeEvent($event)"
        (regresionDataEvent)="onRegressionDataEvent($event)"
      ></sparkle-ui-regressor-form>
      <div
        fxLayout="row"
        fxFlex="100"
        fxLayoutAlign="strech"
        style="padding: 10px"
        fxLayoutGap="5%"
      >
        <div fxFlex="30%">
          <sparkle-ui-scrollable-list
            [items]="scrollableListData"
            class="scrollable-list"
          >
          </sparkle-ui-scrollable-list>
        </div>
        <div fxFlex="70%">
          <sparkle-ui-chart [data]="chartData" [chartType]="chartType">
          </sparkle-ui-chart>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <sparkle-ui-footer></sparkle-ui-footer>
</div>
