.drawer-container {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);

  z-index: 999;
}

.mat-drawer-container {
  background-color: transparent;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(16, 15, 15, 0.80) !important;
}