<div fxLayout="column" style="height: 100%">
  <mat-toolbar color="primary" fxFlex="7" class="nav-toolbar">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="center center">
        <span>Sparkle.Web</span>
        <img [src]="logoUrl" height="50px" width="50px" />
      </div>
    </div>
  </mat-toolbar>
  <div
    class="drawer-container"
    fxLayout="column"
    fxFlexAlign="start center"
    *ngIf="this.drawer.opened"
  >
    <p class="no-connection-text">
      Error: Cannot establish connection with sparklecore.api server.
    </p>
    <button
      mat-raised-button
      color="warn"
      (click)="onRecconnectClick()"
      fxFlex="nogrow"
    >
      Try reconnect
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-drawer-container fxLayout="column" fxFlex="100" [hasBackdrop]="true">
    <mat-drawer
      #drawer
      mode="over"
      fxLayoutAlign="start start"
      disableClose
    ></mat-drawer>
    <mat-drawer-content fxLayout="column" fxFlex="100">
      <!-- Content for the rest of the page -->
      <div
        fxLayout="row"
        fxFlex="20%"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        style="min-height: 200px; margin-left: 15%; margin-right: 15%"
      >
        <mat-form-field fxFlex="15%">
          <mat-label>Company</mat-label>
          <input
            matInput
            placeholder="Company"
            [value]="company?.name"
            disabled
          />
        </mat-form-field>
        <mat-form-field fxFlex="15%">
          <mat-label>Method</mat-label>
          <mat-select
            name="reggressorMethod"
            (selectionChange)="onMethodChange($event)"
          >
            <mat-option
              *ngFor="let option of selectedReggressorMethodOptions"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="15%">
          <mat-label>Time stamp</mat-label>
          <mat-select [(ngModel)]="selectedTimeStamp" name="timeStampSelect">
            <mat-option *ngFor="let option of selectOptions" [value]="option">
              {{ option?.display }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex class="autocomplete">
          <mat-label>Search</mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="auto"
            placeholder="meter name"
            [(ngModel)]="selectedMeterId"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <!-- Add your autocomplete options here -->
            <mat-option
              *ngFor="let option of autocompleteOptions"
              [value]="option?.id"
            >
              {{ option?.name }}
            </mat-option>
          </mat-autocomplete>
          <button
            mat-raised-button
            color="primary"
            fxFlex="nogrow"
            style="height: 23px; margin-top: -6px"
            (click)="onButtonClick($event)"
          >
            Generate
          </button>
        </mat-form-field>
        <div class="form-spinner">
          <mat-spinner
            *ngIf="isLoading"
            style="width: 45px; height: 45px"
          ></mat-spinner>
        </div>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start">
        <div fxFlex="40%">
          <cdk-virtual-scroll-viewport
            fxFlex
            appendOnly
            itemSize="5"
            class="scrollable-list"
          >
            <div
              *cdkVirtualFor="
                let item of scrollableList;
                let odd = odd;
                let even = even
              "
              [class.example-alternate]="odd"
            >
              {{ item }}
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
        <div fxFlex="60%">
          <!-- Content for the second column -->
          <canvas
            fxFlex
            class="chart"
            baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
          >
          </canvas>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <mat-toolbar color="primary">
    <span style="font-size: 12px">
      &copy; 2023 Norbert Szmigiero™ all rights reserved.
    </span>
    <div
      fxLayout="row"
      fxFlex="nogrow"
      style="margin-left: auto"
      fxLayoutGap="30px"
    >
      <a mat-button href="https://github.com/norbertszsor/Sparkle.Web/blob/master/README.md" target="_blank">
        <mat-icon>info</mat-icon>
        About
      </a>
      <a mat-button href="https://github.com/norbertszsor" target="_blank">
        <mat-icon>language</mat-icon>
        GitHub
      </a>
      <a
        mat-button
        href="https://www.linkedin.com/in/norbertszmigiero/"
        target="_blank"
      >
        <mat-icon>linkedin</mat-icon>
        LinkedIn
      </a>
      <a mat-button href="mailto:norbertszmigiero@outlook.com">
        <mat-icon>email</mat-icon>
        Email
      </a>
    </div>
  </mat-toolbar>
</div>
