<mat-toolbar color="primary">
  <span style="font-size: 12px">
    &copy; 2023 Norbert Szmigiero™ all rights reserved.
  </span>
  <div
    fxLayout="row"
    fxFlex="nogrow"
    style="margin-left: auto"
    fxLayoutGap="30px"
  >
    <a
      mat-button
      href="https://github.com/norbertszsor/Sparkle.Web"
      target="_blank"
    >
      <mat-icon>info</mat-icon>
      About
    </a>
    <a mat-button href="https://github.com/norbertszsor" target="_blank">
      <mat-icon>language</mat-icon>
      GitHub
    </a>
    <a
      mat-button
      href="https://www.linkedin.com/in/norbertszmigiero/"
      target="_blank"
    >
      <mat-icon>linkedin</mat-icon>
      LinkedIn
    </a>
    <a mat-button href="mailto:norbertszmigiero@outlook.com">
      <mat-icon>email</mat-icon>
      Email
    </a>
  </div>
</mat-toolbar>
